# Exercise: Pull Data From YahooFinance API

You can't build trading models without financial data! A common source for data are APIs, which are a programmatic way to pull a lot of data from data brokers and vendors that make it available online. 

While many APIs will require an API key or token to identify you, you can use the [YahooFinance API](https://pypi.org/project/yfinance/) without a key for pulling simple and small amounts of historical data. 

Your task here is to: 
* If necessary, download the YahooFinance API Python wrapper package (called `yfinance`)
* Use the `yfinance` package to download historical data for the last 3 years for at least 2 different stock tickers
* Choose your favorite stocks to explore!

In [1]:
# ! pip install yfinance #uncomment this line and run it only once to download the library

In [2]:
import pandas as pd
import yfinance as yf # you may need to install the package first before doing the import

In [3]:
# Define some variables you'll use for pulling in data

stock_ticker_1 = 'AAPL'
stock_ticker_2 = 'MSFT'

start_date = '2015-01-01' # use format YYYY-MM-DD
end_date = '2025-06-27'

To use the YahooFinance API, you may find it useful to look at the documentation. Below, we've started the code for you using the method called download(). 

To figure out what to pass in to that method, take a look at [this page of the YF API documentation](https://github.com/ranaroussi/yfinance?tab=readme-ov-file#multiple-tickers).

In [4]:
data_stock_1 = yf.download([stock_ticker_1], start=start_date, end=end_date) # replace ... inside this function with the correct parameters in order to get your data

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [5]:
data_stock_2 = yf.download([stock_ticker_2], start=start_date, end=end_date) # replace ... inside this function with the correct parameters in order to get your data

[*********************100%***********************]  1 of 1 completed

In [6]:
data_stock_1.head() # check if your download worked

Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2015-01-02  24.288584  24.757338  23.848709  24.746230  212818400
2015-01-05  23.604330  24.137511  23.417718  24.057533  257142000
2015-01-06  23.606554  23.866479  23.244435  23.668758  263188400
2015-01-07  23.937574  24.037545  23.704307  23.815387  160423600
2015-01-08  24.857309  24.915071  24.148623  24.266369  237458000

In [7]:
data_stock_2.head() # check if your download worked

Price           Close       High        Low       Open    Volume
Ticker           MSFT       MSFT       MSFT       MSFT      MSFT
Date
2015-01-02  39.998688  40.563254  39.810501  39.913149  27913900
2015-01-05  39.630875  39.973034  39.562441  39.665088  39673900
2015-01-06  39.049202  39.990145  38.955107  39.673647  36447900
2015-01-07  39.545341  39.742084  38.912344  39.331490  29114100
2015-01-08  40.708683  40.845548  39.964482  39.990143  29645200